body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #747704;
}

.text-muted {
	color: #BCBBBB;
}

.text-thinner {
	font-weight: 100;
}

.title-logo {
	margin-top: 10px;
}
.title-super {
	font-size: 45px;
}

#logo {
	max-height: 125px;
	max-width: 125px;
}

hr {
	border-style: noshade;
	border-width: 3px;
}